﻿@model CatalystInspection.Models.CatalystImgViewModel
@{
    ViewData["Title"] = "DetailInfo";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Detail
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header text-center">
                        Overlap
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @foreach (var item in Model.imgoverlap)
                            {
                                string ov = item.image.ToString() + ".png";
                                <div class="col-sm-2 mt-2">
                                    <img style="width:100%" src="~/images/imgcatalyst/@ov" />
                                </div>
                            }
                            @if (Model.imgoverlap.ToArray().Length < 1)
                            {
                                <div class="col-sm-2 mt-2">
                                    Not have defect
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-center">
                        Surfacetop
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @foreach (var item in Model.imgsurtop)
                            {
                                string st = item.image.ToString() + ".png";
                                <div class="col-sm-2 mt-2">
                                    <img style="width:100%" src="~/images/imgcatalyst/@st" />
                                </div>
                            }
                            @if (Model.imgsurtop.ToArray().Length < 1)
                            {
                                <div class="col-sm-2 mt-2">
                                    Not have defect 
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Surfaceside
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @foreach (var item in Model.imgsurside)
                            {
                                string ss = item.image.ToString() + ".png";
                                <div class="col-sm-2 mt-2">
                                    <img style="width:100%" src="~/images/imgcatalyst/@ss" />
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

