﻿@model CatalystInspection.Models.CatalystDetailViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Catalyst
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form asp-controller="Catalyst" asp-action="Index" method="get">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="input-group input-group-sm mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm-f">Date :</span>
                                                </div>
                                                <input id="datefrom" asp-for="datefrom" type="text" class="form-control" aria-label="Small" autocomplete="off" aria-describedby="inputGroup-sizing-sm-f">

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group input-group-sm mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm-t">To :</span>
                                                </div>
                                                <input id="dateto" asp-for="dateto" type="text" class="form-control" aria-label="Small" autocomplete="off" aria-describedby="inputGroup-sizing-sm-t">
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">

                                </div>
                                <div class="col-sm-2">
                                    @*<input class="btn btn-outline-primary btn-sm" type="button" value="Serach" />*@
                                    <button class="btn btn-outline-primary btn-sm" type="submit" onclick="a()">Serach</button>
                                </div>
                            </div>
                           

                        </form>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="tablecatalyst" class="table table-striped table-bordered second" style="width:100%">
                                <thead>
                                    <tr class="text-center">
                                        <th>ID</th>
                                        <th>Overlap</th>
                                        <th>Surfacetop</th>
                                        <th>Surfaceside</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.catINFO)
                                    {
                                        <tr>
                                            <td style="cursor:pointer">
                                                <a asp-action="Detailinfo" asp-route-uid="@item.uid">@item.uid</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(mitem => item.overlap)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(mitem => item.surfacetop)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(mitem => item.surfaceside)
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>




@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $(document).ready(function () {
            $('#datefrom').datetimepicker({
                timepicker: true,
                format: 'd/m/Y',
                defaultDate: new Date()
            });
            $('#dateto').datetimepicker({
                timepicker: false,
                format: 'd/m/Y',
                defaultDate: new Date()
            });
      
        });
        
        //$(function () {
        //    $('#datefrom').datetimepicker({
        //        timepicker: true,
        //        format: 'd/m/Y',
        //        defaultDate: new Date()
        //    });
        //    $('#dateto').datetimepicker({
        //        timepicker: false,
        //        format: 'd/m/Y'
        //    });
        //});
        var a = function () {
            var from = $('#datefrom').val();
            //alert(from);
        }
    </script>
}
